html,
body {
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color: dimgray;
    color: white;
}

*{
    font-size: calc(12px + 1vw);
}
::placeholder{
    color: white;
}
.center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.header-child{
    font-size: calc(12px + 3vw);
}
.myGrid{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 30% auto 20% 20%;
    height: 100%;
    width: 100%;
    background-color: dimgray;
}

.main-child{
    margin: 5px;
}

.main input{
    width: 90%;
}

.main button{
    padding: 5px;
    width: 75%;
    font-size: inherit;
}

.btn-host{
        grid-row-start: 3;
        grid-row-end:4;
        grid-column-start:2;
        grid-column-end: 3;
        text-align: center;
        place-self:center;
        width:90%
}

.item-a{
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start:2;
    grid-column-end: 3;
    place-self: center;
}

.item-b{
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start:2;
    grid-column-end: 3;
    min-height: 100px;
    text-align: center;
    place-self: center;
    
}

.lobbyGrid{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 15% 15% 40% 20% auto; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.lbygametext{
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start:2;
    grid-column-end: 3; 
    color:white;
    place-self:center;
    font-size: calc(12px + 2.3vw)
}

.lbyuserContainer{
    overflow-y: auto;
    grid-row-start: 3;
    grid-row-end:4;
    grid-column-start:2;
    grid-column-end: 3;
    height: inherit;
    width: inherit;
    color:white;
    padding-left: 25px;
}

.user{
    min-height: 34px;
    text-align: center;
    font-size: calc(12px + 2vw);
}

.lbyCode{
    text-align: center;
    align-self: center;
    color: white;
    font-size: calc(12px + 3vw);
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start: 2;
    grid-column-end: 3;
    
}
.lbyGridBtn{
    grid-row-start: 4;
    grid-row-end:5;
    grid-column-start:2;
    grid-column-end: 3;  
    place-self: center;
    font-size: calc(12px + 2vw);
    border: 1px;
    border-radius: 20px;
    
}
.lbyuserxbtn{
    min-width: 25px;
    font-size: calc(8px + 1.5vw);
    border-radius: 20px;
    border: 1px;
    
}

.hostgrid{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 60% 20%; 
    height: 100%;
    width: 100%;
}

.host-card{
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start:2;
    grid-column-end: 3;  
    place-self: center;
    height: inherit;
}

.blackcard{
    text-align: center;
    background-color: black;
    border: 5px solid white;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    color: white;
    height: inherit;
    min-height: 300px;
    min-width: 200px;
}

.whitecard{
    text-align: center;
    background-color: white;
    border: 5px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    color: black;
    height: inherit;
    min-height: 300px;
    min-width: 200px;
}

.score-container{
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start:1;
    grid-column-end: 2;  
    place-self: center;
}

.timerbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    right:0%;
    bottom:0%;
    min-height:10%;
    min-width: 10%;
}
