html,
body {
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color: grey;
    color: white
}
.main{
}
::placeholder{
    color: white;
}
.center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.myGrid{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 30% auto 20%;
    height: 100%;
    width: 100%;
}

.main-child{
    margin: 5px;
}

.main input{
    width: 90%;
}

.main button{
    padding: 5px;
    width: 75%;
}
@media all and (min-width: 1025px){
    .btn-host{
        grid-row-start: 2;
        grid-row-end:3;
        grid-column-start:2;
        grid-column-end: 3;
        text-align: center;
        font-size: 3vw;
        padding-top: 50%
    }
}
@media all and (max-width: 1024px) {
    .btn-host{
        position: fixed;
        left:50%;
        bottom: 10%;
        transform: translateX(-50%);
        width: 50%;
        text-align: center;
        font-size: 3vw;
    }

}

.item-a{
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start:2;
    grid-column-end: 3;
    place-self: center;
    font-size: 5vw;
}

.item-b{
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start:2;
    grid-column-end: 3;
    min-height: 200px;
    text-align: center;
    font-size: 3vw;
    place-self: center;

}

.lobbyGrid{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 20% 50% 20% auto;
    height: 100%;
    width: 100%;
}

.lbyuserContainer{
    overflow-y: auto;
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start:2;
    grid-column-end: 3;
    height: inherit;
    width: inherit;

}

.user{
    font-size:3vw;
    min-height: 40px;
    text-align: center;
}

.lbyCode{
    text-align: center;
    align-self: center;
    font-size: 4vw;
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start: 2;
    grid-column-end: 3;

}
.lbyGridBtn{
    grid-row-start: 3;
    grid-row-end:4;
    grid-column-start:2;
    grid-column-end: 3;
    place-self: center;

}
.lbyuserxbtn{
    font-size:1.9vw;
    width:6%;
}

.lbybtn{
    font-size: 3vw;
}
.gtbtn{
    position:fixed;
    height: 10%;
    width: 10%;
}

.gtbtnx{
    margin: 10px;
}

.gtSelector{
    margin:  10px;
}

.hostgrid{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 60% 20%;
    height: 100%;
    width: 100%;
}

.host-card{
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start:2;
    grid-column-end: 3;
    place-self: center;
    height: inherit;
}

.blackcard{
    text-align: center;
    background-color: black;
    border: 5px solid white;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    color: white;
    height: inherit;
    font-size: 3vw;
}

.whitecard{
    text-align: center;
    background-color: white;
    border: 5px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    color: black;
    height: inherit;
    font-size: 3vw;
}

.score-container{
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start:1;
    grid-column-end: 2;
    place-self: center;
    font-size: 3vw;
}

.timerbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    right:0%;
    bottom:0%;
    height:10%;
    width: 10%;
    font-size: 3vw;
}